# Python
__pycache__/
*.py[cod]
*.egg-info/

# Build / PyInstaller
build/
dist/
# *.spec

# Testing & coverage
.coverage
.pytest_cache/
htmlcov/

# Environments
.env
.venv
env/
venv/

# Release artifacts
release/
*.zip

# IDE (uncomment what you use)
# .idea/
.vscode/